<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/index.scss">
</head>
<style>
  a:hover{
    background-color: #000000;
    color: #ffffff;
  }
</style>
<body>
  <header id="top-container" role="navigation">
  </header>
  <main id="main-container">
    <p>
      다양한 분들과 함께 세상을 편하게 하는 서비스를 제작하기 위해서 열심히 공부하고 개발하고 있습니다. 
      <br>
      DevOps, Back-End 분야에 관심이 있고 공부하면서 개발하고 있습니다.
    </p>
    <p>
      <a href="mailto:hyun.sang@parkhyunsang.com"><b>hyun.sang@parkhyunsang.com</b></a>
      <br>
      <a href="mailto:parkhyunsang@kakao.com"><b>parkhyunsang@kakao.com</b></a>
      <br>
      <a href="mailto:hyun.sang@teamgrit.kr"><b>hyun.sang@teamgrit.kr</b></a>
    </p>
    <br>
    <h3>소속</h3>
    <p>
      <a href="http://mokpojoongang.hs.jne.kr/"><b>목포 중앙고등학교 방송영상과 재학 중</b></a>
      <br>
      <a href="http://secu.mokpo.ac.kr/index.9is?contentUid=4a94e39d5f702dab015f8fa6b7e414b2"><b>목포대학교 정보보호영재교육원 8기 고등전문 수료 중</b></a>
      <br>
      <a href="https://teamgrit.kr"><b>Software Engineer & Researcher @TeamGRIT,Inc</b></a>
      <br>
      <a href="https://codefor.kr/wiki/%EB%8C%80%EB%AC%B8"><b>Organizer @Code For Korea</b></a>
    </p>
    <br>
    <h3>수료</h3>
    <p>
      2017.03 ~ 2018.02 목포대학교 정보보호영재교육원 4기 중등기초       
      <br>
      2018.03 ~ 2019.02 목포대학교 정보보호영재교육원 5기 중등심화
      <br>
      2019.03  ~ 2020.02 목포대학교 정보보호영재교육원 6기 고등전문
      <br>
      2020.03~2020.12.05 목포대학교 정보보호영재교육원 7기 고등전문A
    </p>
    <br>
    <h3>발표</h3>
    <p>
      DevRel/Asia 2020 Growth of High School Developers Through Communities 발표
    </p>
    <br>
    <h3>대회</h3>
    <p>
      제5회 정보보호영재교육원 정보보안 경진대회 예선전 10등
      <br>
      제5회 정보보호영재교육원 정보보안 경진대회 본선전 14등
      <br>
      한국정보보호학회 동계학술대회 2019 참여 및 논문 작성 
      <br>
      국방부 사이버작전사령부 사이버작전경연대회 2020 예선전 6등
      <br>
      국방부 사이버작전사령부 사이버작전경연대회 2020 본선 4등 
      <br>
      제 6회 정보보호영재교육원 정보보안 경진대회 예선전
      <br>
      제 6회 정보보호영재교육원 정보보안 경진대회 본선 14등
      <br>
      제 2회 전국 고등학생 사이버 보안 경진대회 예선
    </p>
    <br>
    <h3>수상</h3>
    <p>
      제 4회 정부혁신 끝장개발대회 메이커톤 인기상 수상
    </p>
    <br>
    <section>
      <img id="github-heatmap" src="https://ghchart.rshah.org/dev-hyunsang" alt="GitHub contribution heatmap">
    </section>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>
