<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/index.scss">
</head>
<style>
  a:hover{
    background-color: #000000;
    color: #ffffff;
  }
</style>
<body>
  <header id="top-container" role="navigation">
  </header>
  <main id="main-container">
    <p>
      다양한 분들과 함께 세상을 편하게 하는 서비스를 제작하기 위해서 열심히 공부하고 개발하고 있습니다. 
      <br>
      DevOps, Back-End 분야에 관심이 있고 공부하면서 개발하고 있습니다.
    </p>
    <br>
    <p><a>목포 중앙고등학교 방송영상과 재학 중</a></p>
    <p><a>Software Engineer & Researcher TeamGRIT,Inc</a></p>
    <br>
    <p><a style="font-weight: bold;" href="mailto:hyun.sang@parkhyunsang.com">hyun.sang@parkhyunsang.com</a></p>
    <p><a style="font-weight: bold;" href="mailto:hyun.sang@teamgrit.kr">hyun.sang@teamgrit.kr</a></p>
    <br>
    <section>
      <img id="github-heatmap" src="https://ghchart.rshah.org/dev-hyunsang" alt="GitHub contribution heatmap">
    </section>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>
